@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  color: #372696;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #a65dae;
  text-decoration: none;
  border-bottom: 1px solid #372696;
  transition: border .5s;
}

a:hover {
  border-bottom-color: #a65dae;
}

.cfc-header {
  background: linear-gradient(135deg, rgba(48,35,174,0.8) 0%,rgba(200,109,215,0.8) 100%), url(image.jpg); 
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  padding: 1rem;
}

.cfc-header img {
  max-width: 150px;
}

.cfc-header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.cfc-header a {
  color: #ffffff;
  font-size: 2em;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
}

.cfc-events {
  display: block;
}

.cfc-events section {
  padding: 1rem;
}

.cfc-events section:first-child {
  border-bottom: 1px solid #372696;
}

.cfc-events section date {
  display: block;
}

.cfc-events h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.cfc-events h3 {
  font-size: 1.17em;
  margin: 1.17em 0 0;
}

.cfc-events-list {
  list-style-type: none;
  padding: 0;
}

.cfc-footer {
  padding: 1rem;
  font-size: 0.725rem;
}

@media (min-width: 800px) {
  .cfc-header {
    margin-bottom: 2em;
    min-height: 33.33333vh;
    text-align: center;
  }

  .cfc-header h1 {
    font-size: 4em;
  }

  .cfc-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cfc-events section {
    padding: 2px 1rem;
  }

  .cfc-events section:first-child {
    border-right: 1px solid #372696;
    border-bottom: none;
  }

  .cfc-footer {
    padding-top: 5rem;
    text-align: center;
  }
}
