<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/style.css" media="screen" type="text/css">

		<title>{{ basics.name }}{% if title %} - {{ title }}{% endif %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="_assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="_assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="_assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="_assets/favicon/safari-pinned-tab.svg" color="#483ba4">
    <link rel="shortcut icon" href="_assets/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Christian Filmmakers">
    <meta name="application-name" content="Christian Filmmakers">
    <meta name="msapplication-TileColor" content="#483ba4">
    <meta name="msapplication-config" content="_assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <header class="cfc-header">

      <div class="container">

        <img src="_assets/logo.svg" alt="" />
        <h1>{{ basics.name }}</h1>

        {% if events[0].date | isFutureDate %}
          {% if events[0].url %}
            <a href="{{ events[0].url }}">Join us at the next meetup</a>
          {% endif %}
        {% endif %}

      </div>

    </header>

    <main class="container">
      {{ layoutContent | safe }}
    </main>

    <footer class="cfc-footer">
      <div class="container">
        <p class="cfc-footer__social">
          <img src="_assets/facebook_icon.svg" alt="" />
          <a href="{{ basics.facebook }}" target="_blank" rel="noopener">Join the Facebook Group</a>
        </p>
        <p>
          Site built (super) quickly at <a href="https://kingdomcode.uk/build" target="_blank" rel="noopener">Kingdom Code BUILD 2018</a> | <a href="https://github.com/jamesdoc/cfc" target="_blank" rel="noopener">View Source</a>
        </p>
        <p>
          Last updated: {{ data.today }}
        </p>
      </div>
    </footer>

  </body>
</html>
