---
layout: layouts/base.njk
---

<header class="cfc-header">

  <div class="container">

    <img src="_assets/logo.svg" alt="" />
    <h1>{{ basics.name }}</h1>

    {% if events[0].date | isFutureDate %}
      {% if events[0].url %}
        <a href="{{ events[0].url }}">Join us at the next meetup</a>
      {% endif %}
    {% endif %}

  </div>

</header>

<div class="container cfc-events">

  <section>

    <h2>
    {% if events[0].date | isFutureDate %}
      Upcoming event
    {% else %}
      Latest event
    {% endif %}
    </h2>

    <h3>{{ events[0].name }}</h3>
    <date>{{ events[0].date | readableDate }}</date>
    <p>{{ events[0].description }}</p>
    {% if events[0].url %}
      <a href="{{ events[0].url }}" target="_blank">
      {% if events[0].date | isFutureDate %}
        More information and sign up
      {% else %}
        See more
      {% endif %}
    {% endif %}
    </a>
  </section>

  <section>

    <h2>Previous events</h2>

    <ul class="cfc-events-list">
    {% set len = events.length %} 
    {% for i in range(1, len) %}
      <li>
        <h3>{{ events[i].name }}</h3>
        <date>{{ events[i].date | readableDate }}</date>
        {% if events[i].url %}
          <a href="{{ events[i].url }}"  target="_blank" rel="noopener">See more</a>
        {% endif %}
      </li>
    {% endfor %}
      
    </ul>

  </section>

</div>

<footer class="cfc-footer">
  <div class="container">
    <p>
      <a href="https://www.facebook.com/groups/christianfilmmakerscollective" target="_blank" rel="noopener">Join the Facebook Group</a>
    </p>
    <p>
      Site built (super) quickly at <a href="https://kingdomcode.uk/build" target="_blank" rel="noopener">Kingdom Code BUILD 2018</a> | <a href="https://github.com/jamesdoc/cfc" target="_blank" rel="noopener">View Source</a>
    </p>
    <p>
      Last updated: {{ data.today }}
    </p>
  </div>
</footer>
