---
layout: layouts/base.njk
---

<div class="cfc-events">

  <section itemscope itemtype="http://schema.org/Event">

    <h2>
    {% if events[0].date | isFutureDate %}
      Upcoming event
    {% else %}
      Latest event
    {% endif %}
    </h2>

    <h3 itemprop="name">{{ events[0].name }}</h3>
    <date itemprop="startDate" content="{{ events[0].date }}">{{ events[0].date | readableDate }}</date>
    
    {% if events[0].address %}
    <span itemprop="address">
      <a href="https://www.google.com/maps/place/{{ events[0].address }}" target="_blank" rel="noopener">
        {{ events[0].address }}
      </a>
    </span><br />
    {% endif %}

    <p itemprop="description">{{ events[0].description }}</p>
    {% if events[0].url %}
      <a href="{{ events[0].url }}" target="_blank" rel="noopener" itemprop="url">
      {% if events[0].date | isFutureDate %}
        More information and sign up
      {% else %}
        See more
      {% endif %}
    {% endif %}
    </a>
  </section>

  <section>

    <h2>Previous events</h2>

    <ul class="cfc-events-list">
    {% set len = events.length %} 
    {% for i in range(1, len) %}
      <li itemscope itemtype="http://schema.org/Event">
        <h3 itemprop="name">{{ events[i].name }}</h3>
        <date itemprop="startDate" content="{{ events[i].date }}">{{ events[i].date | readableDate }}</date>
        {% if events[i].url %}
          <a href="{{ events[i].url }}"  target="_blank" rel="noopener" itemprop="url">See more</a>
        {% endif %}
      </li>
    {% endfor %}
      
    </ul>

  </section>

</div>

